<nav class="sidebar locked">
      <div class="logo_items flex">
        <span class="nav_image">
          <img src="../assets/logo.jpeg" alt="logo_img" />
        </span>
        <span class="logo_name">StaffSync</span>
        <i class="bx bx-lock-alt" id="lock-icon" title="Unlock Sidebar"></i>
        <i class="bx bx-x" id="sidebar-close"></i>
      </div>
      <div class="menu_container">
        <div class="menu_items">
          <ul class="menu_item">
            <!-- <div class="menu_title flex">
              <span class="title">Dashboard</span>
              <span class="line"></span>
            </div> -->
            
            <li class="item">
              <a href="/admin/dashboard" class="link flex">
                <i class="bx bx-grid-alt"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="item">
              <a href="/admin/departments" class="link flex">
                <i class="fa-solid fa-building"></i> 
                <span>Manage Departments</span>
              </a>
            </li>
            <li class="item">
              <a href="/admin/employees" class="link flex">
                <i class="fa-solid fa-users"></i>
                <span>Manage Employees</span>
              </a>
            </li>
            <li>
                <a href="/admin/leaves" class="link flex">
                    <i class="fa-solid fa-calendar"></i>
                    <span>Manage Leaves</span>
              </a>
            </li>
            <li class="item">
              <a href="#" class="link flex">
                <i class="fa-solid fa-gear"></i>
                <span>Setting</span>
              </a>
            </li>
            <li class="item">
              <a  id="btn-logout" href="#" class="link flex">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
          
        <div class="sidebar_profile flex">
          <span class="nav_image">
            <img class="user" src="../assets/user.png" alt="logo_img" />
          </span>
          <div class="data_text">
            <span class="name">David Oliva</span>
            <span class="email">david@gmail.com</span>
          </div>
        </div>
      </div>
    </nav>