<header class="topbar">
  <img src="../assets/StaffSync Logo.png" alt="StaffSync Logo" class="logo">
  <div class="right-nav">
      <div class="user-profile">
          <i class="fas fa-user-circle fa-2x" style="color:#3b82f6;"></i>
          <div class="dropdown">
              <!-- <a href="#" id="btn-logout" class="dropdown-item">
                  <i class="fas fa-sign-out-alt"></i> Logout
              </a> -->
              <button id="btn-logout"
                  class="w-full flex items-center p-2 text-gray-300 hover:bg-gray-700 rounded-md transition duration-200"
                  title="Log out" aria-label="Log out">
                  <i class="fas fa-sign-out-alt w-5 h-5 mr-3"></i>
                  <span>Logout</span>
              </button>

              <a href="#" class="dropdown-item">
                  <i class="fas fa-cog"></i> Account Setting
              </a>
          </div>
      </div>
  </div>
</header>



