<!-- <div class="flex flex-col md:flex-row justify-between">
  <div>
    <h1 id="greeting" class="text-2xl font-bold text-gray-900">...</h1>
    <p class="text-sm text-gray-500">
      Today's Date: <span id="current-date" class="font-medium">May 15, 2025</span>
    </p>
  </div>
    <a href="#">
        <i class="<i class="icon-dashboard"></i> Dashboard
    </a>
    <a href="/employee/apply">
        <i class="fa-duotone fa-solid fa-calendar-days"></i> Apply
    </a>
    <a href="/employee/leave-history">
        <i class="fa-solid fa-file"></i> View Leaves
    </a>
</div> -->


<nav class="sec-nav">
  
  <div class="section">
    <div class="user-info">
      <h1 id="greeting" class="text-2xl font-bold text-gray-900">...</h1>
      <p class="text-sm text-gray-500">
        Today's Date: <span id="current-date" class="font-medium">May 15, 2025</span>
      </p>
    </div>
    <div class="items" >
      <a href="#" class="item dropdown">
          <i class="fa fa-tachometer icon"></i> 
          <span class="text">Dashboard</span>
      </a>
      <a href="/employee/apply" class="item dropdown">
          <i class="fa fa-ticket icon"></i> 
          <span class="text">Apply Leave</span>
      </a>
      <a href="/employee/leave-history" class="item dropdown">
          <i class="fa fa-history icon"></i> 
          <span class="text">View Leaves</span>
      </a>
    </div>
  </div>
</nav>